<!-- Este é o menu lateral -->
<!--
	[content] é a propriedade usada para definir um conteudo desde componente ion-menu,
	nesse caso a variavel 'conteudo', que foi definida no ion-nav, sendo ele mesmo
-->
<ion-menu [content]="conteudo">
	<!-- Barra de titulo do menu -->
	<ion-header>
		<ion-toolbar color="primary">
			<!-- 
			<ion-title>Mobile App</ion-title>	
			<div padding-left>
				<h4>{{usuario.NOME}}</h4>
				<h5>{{usuario.EMAIL}}</h5>
			</div> -->
			<ion-item no-lines color="primary">
				<ion-avatar item-start>
					<img src="../../assets/imgs/icon.png">
				</ion-avatar>
				<h3>{{usuario.NOME}}</h3>
				<p>{{usuario.EMAIL}}</p>
			</ion-item>

		</ion-toolbar>
	</ion-header>
	<!-- Itens que são exibidos no menu -->
	<ion-content>
		<div *ngIf="menus.length > 0">
			<ion-item-group *ngFor="let p of menus">
	
				<ion-item-divider color="light">{{p.title}}</ion-item-divider>
				<div *ngIf="p.componentes.length > 0">
					<button ion-item *ngFor="let item of p.componentes" (click)="openPage(item.page)">					
						{{item.title}}
					</button>
				</div>
				
			</ion-item-group>
		</div>
	</ion-content>
</ion-menu>

<!-- Aqui é carregada a pagina root, definida no app.component.ts -->
<!-- swipeBackEnabled propriedade que permite deslizar left->right para voltar a page anterior-->
<!-- [root] é a propriedade que vai carregar a pagina dentro do ion-nav, enquanto #conteudo é a variavel que representa o ion-nav  -->
<ion-nav id="nav" #conteudo [root]="rootPage"></ion-nav>